<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <span>Drawing app</span>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-icon [ngStyle]="{ color: selectedColor }" *ngIf="canvasTool !== CanvasTools.Eraser">brush</mat-icon>
      <mat-icon *ngIf="canvasTool === CanvasTools.Eraser">backspace</mat-icon>
      <mat-chip-list disabled>
        <mat-chip matTooltip="Current tool" [disableRipple]="true">{{ CanvasTools[canvasTool] }}</mat-chip>
        <mat-chip matTooltip="Stroke size">{{ lineWidth }}</mat-chip>
      </mat-chip-list>

      <mat-divider [vertical]="true" [inset]="true"></mat-divider>

      <button
        class="color-palette-button"
        (click)="openColorPickerDialog()"
        mat-icon-button
        matTooltip="Open color palette"
        [matTooltipPosition]="'right'"
      >
        <mat-icon>palette</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Adjust stroke size"
        [matTooltipPosition]="'right'"
        (click)="openStrokeSizeDialog()"
      >
        <mat-icon>tune</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Widgets"
        [matTooltipPosition]="'right'"
        color="primary"
        [matMenuTriggerFor]="widgetMenu"
      >
        <mat-icon>widgets</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Clear drawing board"
        [matTooltipPosition]="'right'"
        color="warn"
        (click)="clearCanvas()"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Export drawing" [matTooltipPosition]="'right'" (click)="exportImage()">
        <mat-icon>save_alt</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <canvas
    [ngStyle]="{ cursor: canvasTool !== CanvasTools.Eraser ? 'crosshair' : 'no-drop' }"
    #drawingCanvas
    (mousedown)="startDrawing($event)"
    (mousemove)="penMoved($event)"
    (mouseup)="endDrawing($event)"
  ></canvas>
</main>

<mat-toolbar class="footer">
  <mat-toolbar-row>
    <p class="mat-body-1">&copy; {{ currentYear }} - Awesome Fortune</p>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #widgetMenu="matMenu">
  <button mat-menu-item (click)="setCanvasTool(CanvasTools.Brush)">Brush</button>
  <button mat-menu-item [matMenuTriggerFor]="shapesMenu">Shapes</button>
  <button mat-menu-item (click)="setCanvasTool(CanvasTools.Eraser)">Eraser</button>
</mat-menu>

<mat-menu #shapesMenu="matMenu">
  <button mat-menu-item (click)="setCanvasTool(CanvasTools.Rectangle)">Rectangle</button>
</mat-menu>

<a href="#" #downLoadLink download="canvas-image.png">Download</a>
