<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span>Drawing app</span>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-icon [ngStyle]="{ color: selectedColor }" *ngIf="!isUsingEraser">brush</mat-icon>
      <mat-icon *ngIf="isUsingEraser" color="accent">backspace</mat-icon>
      <mat-divider [vertical]="true" [inset]="true"></mat-divider>
      <button
        (click)="openColorPickerDialog()"
        mat-icon-button
        matTooltip="Open color palette"
        [matTooltipPosition]="'right'"
      >
        <mat-icon>palette</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Adjust stroke size"
        [matTooltipPosition]="'right'"
        (click)="openStrokeSizeDialog()"
      >
        <mat-icon>tune</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Widgets"
        [matTooltipPosition]="'right'"
        color="primary"
        [matMenuTriggerFor]="widgetMenu"
      >
        <mat-icon>widgets</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Clear drawing board"
        [matTooltipPosition]="'right'"
        color="warn"
        (click)="clearCanvas()"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <canvas
    [ngStyle]="{ cursor: !isUsingEraser ? 'crosshair' : 'no-drop' }"
    #drawingCanvas
    (mousedown)="startDrawing($event)"
    (mousemove)="penMoved($event)"
    (mouseup)="endDrawing($event)"
  ></canvas>
</main>

<mat-toolbar class="footer">
  <mat-toolbar-row>
    <p class="mat-body-1">&copy; {{ currentYear }} - Awesome Fortune</p>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #widgetMenu="matMenu">
  <button mat-menu-item (click)="useBrush()">Brush</button>
  <button mat-menu-item [matMenuTriggerFor]="shapesMenu">Shapes</button>
  <button mat-menu-item (click)="useEraser()">Eraser</button>
</mat-menu>

<mat-menu #shapesMenu="matMenu">
  <button mat-menu-item>Rectangle</button>
</mat-menu>
