.mat-dialog-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}

.mat-icon {
  margin: 1em;
  font-size: 5em !important;
  cursor: pointer;
}
